@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}

a{
    text-decoration:none; 
}

body {
    background-color: rgba(216, 236, 243, 1);
    width: 100%;
    height: 100vh;
}

header {
    background-color: rgba(177, 222, 239, 1);
    font: source serif pro;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 60px;
}

header button {
    background-color: rgba(43, 100, 227, 1);
    color: white;
    border-radius: 15px;
    font-size: 18px;
    height: 45px;
    width: 140px;
    left: 1185px;
    top: 59px;
    cursor: pointer;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

section img {
    height: 300px;
    width: 300px;
    border-radius: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid rgba(0, 74, 215, 1) 1px;
    background-color: white;
    font-size: 20px;
    padding: 20px;
    margin: 80px;
    border-radius: 20px;
}

.container a {
    color: white;
}

.container-bt button {
    background-color: rgba(43, 100, 227, 1);
    color: white;
    font-size: 18px;
    height: 55px;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
    bottom: 15px;
    right: 30px;
}

.container-conteudo{
    display: flex;
    flex-direction: column;
}


.container-conteudo button{
    justify-items: end;
    align-items: flex-end;
    margin-left: 80%;
}

.container-descricao{
    text-align: center;
    font-weight: bold;
    margin: 50px;
}

.container-bt{
    margin: 0;
}

.logo {
    height: 100px;
    height: 100px;
}

.container-cadastro {
    height: 500px;
    width: 400px;
    padding: 2rem;
    background-color: white;
    border: solid rgba(0, 74, 215, 1) 1px;
    border-radius: 30px;
    margin: auto;
}

.form-titulo{
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}

.input-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box{
    margin-bottom: 0.8rem;
}

.input-box input{
    width: 15rem;
    height: 1.8rem;
    border-radius: 10px;
    border: solid #004AD7 1px;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
}

.input-recebimento{
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
}

input{
    padding: 0.5rem;
}

.form-control{
    width: 15rem;
    height: 1.8rem;
    border-radius: 10px;
    border: solid #004AD7 1px;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    margin-bottom: 2.5rem;
}

.button-enviar{
    display: block;
    background-color: rgba(43, 100, 227, 1);
    color: white;
    font-size: 18px;
    height: 40px;
    width: 311px;
    border-radius: 10px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: rgba(27, 97, 140, 1);
    color: white;
    margin-top: 3rem;
    padding: 1rem;
}

.texto-footer{
    align-items:center;
    text-align: center;
    padding: 1rem;
}

.redes-footer{
    display: flex;
    align-items: center;
}

.redes-footer img{
    height: 3.5rem;
    margin: 1rem;
}

.position-recuperarsenha{
    display: flex;
    align-items: end;
}

.button-recuperarsenha{
    display: block;
    text-align: center;
    height: 20px;
    width: 150px;
    border-radius: 10px;
    font-family: "Source Sans 3", sans-serif;
    font-size: 15px;
    background-color: rgba(43, 100, 227, 1);
    color: white;
    margin-bottom: 8rem;
}

.button-salvar-recuperar{
    display: block;
    background-color: rgba(43, 100, 227, 1);
    color: white;
    font-size: 18px;
    height: 40px;
    width: 311px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 8rem;



}

.form-titulo-login{
    margin-bottom: 5rem;
    display: block;
    text-align: center;
}

.container-reportar {
    height: 650px;
    width: 400px;
    padding: 2rem;
    background-color: white;
    border: solid rgba(0, 74, 215, 1) 1px;
    border-radius: 30px;
    margin: auto;
}

#uploadContainer {
    width: 250px;
    height: 150px;
    border: 1px solid black;
    justify-content: center; 
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 40px;
}

.container-recu {
    height: 500px;
    width: 400px;
    padding: 2.5rem;
    background-color: white;
    border: solid rgba(0, 74, 215, 1) 1px;
    border-radius: 30px;
    margin: auto;
}

.container-recu .input-group {
    margin: 50px;
}

.container-recu .button-enviar {
    width: 300px;
    display: block;
    cursor: pointer; 
}

.position-recusenha {
    margin: 50px;
}

#uploadContainer img {
    cursor: pointer;
}

.container-usuario {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 900px;
    height: 1000px;
    border-radius: 30px;
    padding: 20px;
}

.caixa-mensagem {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 30px;
}

.caixa-escolha{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 800px;
    border-radius: 30px;
}

.Bem-vindo {
	padding: 20px;
	text-align: center;
	border-radius: 30px;
	background-color: rgba(43, 100, 227, 1);
    color: #ffff;
	height: 80px;
	width: 250px;
    font-size: 9px;
  }

  .caixa-escolha-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 700px;

  }

  .caixa-escolha-button a{
    display: block;
    text-align: center;
  }

  .escolha-button-not{
    display: flex;
    background-color: rgba(43, 100, 227, 1);
    color: white;
    border-radius: 15px;
    height: 50px;
    width: 120px;
    cursor: pointer;
    padding: 5px;
    justify-content: center;
    align-items: center;
  }

  .escolha-button-not1{
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    height: 50px;
    width: 120px;
    cursor: pointer;
    padding: 5px;
    justify-content: center;
    align-items: center;
  }

.deletar-button{
    display: flex;
    background-color: #FA4C4C;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    height: 50px;
    width: 120px;
    cursor: pointer;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
  .caixa-escolha-button button{
    display: flex;
    text-decoration: none;
    font-size: 15px;
  }


@media only screen and (max-width:1100px) {

section {
    max-width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
}

.container {
    position: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    text-align:justify;   
    width: 400px;
    height: 600px;
    padding: 20px;
    margin: 20px;
}

section img {
    height: 250px;
    width: 250px;
    border-radius: 20px;
}

<<<<<<< HEAD:style.css
.container-bt button{
    margin-left: 33%;
}
=======
.container-usuario {
    width: 600px;
    height: 1200px;
}

.caixa-escolha{
    width: 600px;
}
    
.Bem-vindo {
	padding: 9px;
	height: 50px;
	width: 150px;
    font-size: 7px;
  }

  .caixa-escolha-button{
    padding: 20px;
    width: 450px;
  }

  .caixa-escolha-button button{

    font-size: 10px;
  }

  .escolha-button-not{
    height: 40px;
    width: 90px;
  }

  .escolha-button-not1{
    height: 40px;
    width: 90px;
  }

.deletar-button{
    height: 40px;
    width: 90px;
}

>>>>>>> e4f4918b40c05710b43847868f660ffc7f08e613:public/style.css
    
}

@media only screen and (max-width:750px) {

header {
    font-size: 10px;
    padding: 10px;
}

header h1 {
    margin-top: 20px;
}

header button {
    margin-top: 20px;
    height: 30px;
    width: 100px;
}

.container p {
    margin-top: 10px;
    text-align: start;
    bottom: 50%;
}

.logo {
    height: 80px;
    width: 80px;
}

.redes-footer img{
    height: 2rem;
}

.texto-footer{
    font-size: 12px;
}

.img-footer img{
    height: 70px;
    width: 70px;
}

.header-mob{
    display: none;
}

.footer-mob{
    display: none;
}

.container-cadastro {
    height: 500px;
    width: 350px;
    margin-top: 2rem;
    margin-bottom: 2rem;  
}

.container-reportar {
    height: 500px;
    width: 350px;
    margin-top: 2rem;
    margin-bottom: 2rem;  
}

.form-titulo{
    font-size: 10px;
}

#uploadContainer {
    width: 250px;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.upload-img{
    width: 240px;
    height: 90px;
}

.container-usuario {
    width: 450px;
    height: 1400px;
}

.caixa-escolha{
    width: 450px;
}
    
.Bem-vindo {
	padding: 9px;
	height: 50px;
	width: 100px;
    font-size: 5.5px;
  }

  .caixa-escolha-button{
    padding: 20px;
    width: 400px;
  }

  .caixa-escolha-button button{

    font-size: 8px;
  }

  .escolha-button-not{
    height: 30px;
    width: 80px;
  }

  .escolha-button-not1{
    height: 30px;
    width: 80px;
  }

.deletar-button{
    height: 30px;
    width: 80px;
}

}  